<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
    <meta charset="UTF-8">
    <title>Shop Cart</title>
</head>
<body>

<h5>Shop Cart</h5>
<div layout:fragment="content">
<table>
    <tbody th:each="product : ${products}" th:remove="tag">
    <tr>
        <td th:text="${product.getId()}">...</td>
        <td th:text="${product.getName()}">...</td>
        <td th:text="${product.getPrice()}">...</td>
    </tr>
    </tbody>
</table>

<td><button><a th:href="@{'/shopcart/placeorder/'}">Buy</a></button></td>
</div>



</body>
</html>